.Roboto-font {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.heading-styling {
    font-style: italic;
    font-weight: 1000;
    font-stretch: expanded;
    text-decoration: wavy;

}
.nav-styling {
    background-color: rgb(147, 147, 131);
    inline-size: auto;
    
}
.about-styling {
    background-color: burlywood;
    border-radius: 7px;
}
.contact-styling {
    background-color: orange;
    border-radius: 7px;

}
.work-styling {
    background-color: bisque;
    border-radius: 7px;
}
.resume-styling {
    background-color: brown;
    border-radius: 7px;
}